* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  max-width: 1400px;
  margin: 0 auto;
  grid-template-areas:
    "main main main main"
    "main main main main"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
}

header,
section,
nav,
.text-flex,
.footer-right ul {
  display: flex;
}

header {
  align-items: center;
  margin-top: 5%;
}

main {
  grid-area: main;
  background-image: url("images/main-img.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
  background-size: 100% 100%;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
  font-size: 10px;
  width: 100%;
  margin: 0 auto;
}

nav {
  background: rgb(88, 88, 88);
  background:
    linear-gradient(
      0deg,
      rgba(88, 88, 88, 1) 3%,
      rgba(110, 109, 109, 1) 64%,
      rgba(130, 129, 129, 1) 95%
    );
  width: 90%;
  margin: auto;
  border-radius: 5px;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  border-right: 2px solid rgb(87, 87, 87);
  width: 10%;
  padding: 7px;
}

.apple-logo {
  object-fit: cover;
  width: 15px;
}

section img {
  object-fit: cover;
  width: 100%;
}

.search-box {
  padding: 7px;
  position: relative;
}

#search-bar {
  width: 120px;
  border-radius: 10px;
  border: solid 1px rgb(145, 145, 145);
  background-color: rgb(110, 110, 110);
  text-align: start;
}

@keyframes search-size {
  from {
    width: 120px;
  }

  to {
    width: 200px;
  }
}

#search-bar:focus {
  -webkit-animation-name: "search-size";
  -moz-animation-name: "search-size";
  animation-name: "search-size";
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.text-flex {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: -70px auto;
  width: 80%;
  height: 100%;
}

.text-flex div {
  margin: 20px auto;
}

.fa-search {
  position: absolute;
  left: 8%;
  top: 32%;
  font-size: 12px;
  cursor: pointer;
  color: white;
}

footer a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.footer-left {
  color: gray;
  margin: 10px auto;
  float: left;
  width: 40%;
}

.footer-right ul {
  list-style: none;
  justify-content: center;
  float: right;
  width: 60%;
}

.footer-right li {
  padding: 0 10px;
}

.footer-link {
  border-right: solid 1px gray;
}
