* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


#wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    max-width: 1400px;
    margin: 0 auto;
    grid-template-areas: 
    "main main main main"
    "main main main main"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
}

header {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

main {
    grid-area: main;
    background-image: url("images/main-img.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-size: 100% 100%;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

nav {
    background: url("https://archive.fo/UW4oR/959dc37b1b6692997a6d3ab19862dd59e5e83ecf.png") repeat-x;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
    color: white;
}

.apple-logo {
    object-fit: cover;
    width: 15px;
}

section {
    display: flex;
}

section img {
    object-fit: cover;
    width: 100%;
}

#search-bar {
    max-width: 90%;
    border-radius: 5px;
    border: solid 1px rgb(145, 145, 145);
    background-color:rgb(110, 110, 110);
}

.fa-play-circle {
    color: white;
    font-size: 20px;
}

.text-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: -70px auto;
    width: 100%;
    height: 100%;
}

.text-flex div {
    margin: 20px auto;
    color: white;
    width: 80%;
}

.head-text {
    font-size: 50px;
}

.middle-text {
    font-size: 30px;
}

.last-text {
    font-size: 25px;
}

.search-box {
    position: relative;
}

.fa-search {
    position: absolute;
    left: 13px;
    top: 3px;
    font-size: smaller;
    cursor: pointer;
}
